.DS_Store
.metadata/.lock
.metadata/.log
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.android.ide.eclipse.adt.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.browser.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/LearningCardsv_1.0/2012/8/32/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/LearningCardsv_1.0/2012/8/32/refactorings.index
.metadata/.plugins/org.eclipse.ltk.ui.refactoring/dialog_settings.xml
.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/version.ini
backEnd/restservice/authentication/1.json
www/scripts/models/registrationModel.js
backEnd/learningcards/courses.php
backEnd/learningcards/courses/1.json
backEnd/learningcards/courses/2.json
backEnd/learningcards/questions.php
www/scripts/views/localisation.js
backEnd/learningcards/authentication.php
backEnd/learningcards/authentication/1.json
backEnd/learningcards/questions/1.json
backEnd/learningcards/questions/2.json
backEnd/learningcards/questionsLitsa.php
www/translations/textualStrings_fr.properties
www/statistics.html
www/libs/icomoon/index.html
www/libs/icomoon/license.txt
www/libs/icomoon/lte-ie7.js
www/libs/icomoonStats/fonts/icomoon.eot
www/libs/icomoonStats/fonts/icomoon.svg
www/libs/icomoonStats/fonts/icomoon.ttf
www/libs/icomoonStats/fonts/icomoon.woff
www/libs/icomoonStats/index.html
www/libs/icomoonStats/license.txt
www/libs/icomoonStats/lte-ie7.js
www/libs/icomoonStats/style.css
www/resources/logos_smallOld.png
www/resources/logosPartA.png
www/resources/logos_partB.png
.swp
README.md
www/libs/cordova-2.0.0-ios.js
www/resources/886944986.png
www/resources/Close.png
www/resources/Settings.jpg
www/resources/Settings.png
www/resources/checkbox.png
www/resources/css_eth.bmp
www/resources/exclamation.png
www/resources/loading.gif
www/resources/loading.png
www/resources/logos_smallOld.png
www/resources/questionMark.png
www/resources/statistics.jpg
www/resources/statistics.png
www/scripts/catchGestures.js
www/scripts/models/registrationModel.js
www/translations/textualStrings_fr.properties