/*********************** General ***********************/
body {
	width: device-width;
	height: device-height;
	overflow: scroll;
	color: black;
	FONT-FAMILY: arial, helvetica, lucida-sans, sans-serif;
	FONT-SIZE: 14pt;
	FONT-STYLE: normal;
	FONT-VARIANT: normal;
    margin: 0px;
    padding: 0px;
}

h1 {
	FONT-SIZE: 20pt;
	text-align: center;
	margin-bottom: 30px;
}

button {
	border: 1px solid #d6d6d6;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-family: arial, helvetica, sans-serif;
/* 	padding: 5px 5px 5px 5px; */
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
	font-weight: none;
	text-align: center;
	font-size: 34pt;
	color: black;
	background-color: #efefef;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #efefef),
		color-stop(100%, #dedede) );
	background-image: -webkit-linear-gradient(top, #efefef, #dedede);
	background-image: -moz-linear-gradient(top, #efefef, #dedede);
	background-image: -ms-linear-gradient(top, #efefef, #dedede);
	background-image: -o-linear-gradient(top, #efefef, #dedede);
	background-image: linear-gradient(top, #efefef, #dedede);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,
		startColorstr=#efefef, endColorstr=#dedede );
}

.generalButton {
	float: left;
	padding: auto;
	width:100%;
	margin-bottom: 20px;
	font-size: 14pt;
	padding: 10px;
}


.left {
 	float: left;
/* 	padding-right: 10px; */
	margin-right: 15px;
    margin-left: 0px;
}

.right {
	float: right;
/* 	padding-left: 10px; */
	margin-left: 15px;
    margin-right: 0px;
}

.top {
	position: fixed;
	top: 0px;
	/* width: 100%; */
}

.bottom {
	position: fixed;
	bottom: 5px;
	/* width: 100%;*/
}

.title {
    display: table-cell;
    height: 50px;
	FONT-SIZE: 14pt;
	font-weight: bold;
	vertical-align: middle;
    padding-left: 10px;
}

.titleicon + .title {
    padding: 0px;
}

.container {
	/* padding-left: 10px;*/
	/*padding-right: 10px;*/
    height: 55px;
     width: 100%;
    margin: 0px;
	/* margin-top: auto;*/
	/* margin-bottom: auto;*/
}


.headerbg {
    box-shadow: 0px 3px 5px -1px #ccc;
    -webkit-box-shadow: 0px 3px 5px -1px #ccc;
    background-color: white;
}

.content {
    margin-left: 5px;
    margin-right: 5px;
	margin-bottom: 60px;
	margin-top: 60px;
}

#cardQuestionBody {
    padding-left: 20px;
    padding-right: 20px;
    display: table-cell;
    vertical-align: middle;
}

ul {
	clear:both;
	border: solid #ccc 1px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 1px 1px #ccc;
	-moz-box-shadow: 0 1px 1px #ccc;
	box-shadow: 0 1px 1px #ccc;
	list-style-type: none;
	FONT-SIZE: 14pt;
	FONT-STYLE: normal;
	FONT-VARIANT: normal;
	text-align: left;
/* 	position: relative; */
}

li {
	-o-transition: all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
	list-style-type: none;
	list-style-position: left;
	FONT-SIZE: 16 pt;
	FONT-STYLE: normal;
	FONT-VARIANT: normal;
	border: 1px solid #ccc;
	text-align: left;
	border-radius: 0 0 0 0;
	padding: 15px;
	margin-left: -40px;
	border-top: none;
	border-right: none;
	border-left: none;
}

/*********************** Views ***********************/
#coursesListView {
	display: none;
}

#settingsView {
	display: none;
}

#logoutConfirmationView {
	display: none;
}

#cardQuestionView {
	display: none;
}

#cardAnswerView {
	display: none;
}

#cardFeedbackView {
	display: none;
}

#StatisticsView {
	display: none;
}

/*********************** Splash Screen ***********************/
#loading {
	clear: both;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 0 10px 0;
	font-size: 30pt;
	text-align: center;
}

#logos {
	vertical-align: bottom;
	margin-top: 10px;
	clear: both;
}

#logo_isn {
	content: url(../resources/logo_isn.gif);
	vertical-align: bottom;
	padding-bottom: 10px;
	padding-right: 20px;
	margin-bottom: 20px;
	float: left;
}

#css_eth {
	content: url(../resources/css_eth.bmp);
	vertical-align: bottom;
	padding-bottom: 10px;
	margin-bottom: 20px;
	float: left;
}

#eth_logo {
	content: url(../resources/eth_logo.gif);
	vertical-align: bottom;
	float: left;
	width: 100%;
	padding-bottom: 20px;
}

/*********************** Login ***********************/
#loginForm {
	display: none;
	width: 100%;
}

.inputBorder {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 6px;
	-webkit-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
	box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
	margin: 10px auto 10px auto;
	padding: 10px;
	border: 1px solid #c8c8c8;
	color: #777;
}

.loginInput {
	box-shadow: none;
	outline: none;
	border: none;
	border-width: 0px;
	-webkit-appearance: none;
	font: 12pt Helvetica, Arial, sans-serif;
	margin: 0px;
	padding: 0px;
	width: 100%;
}

.loginInput:focus {
	outline: none;
	border: none;
	border-width: 0px;
	-webkit-appearance: none
}

.listicon {
	width: 20px;
	display: block;
	height: 20px;
	padding-left: 0px;
	margin-left: 0px;
/*    border: 1px solid #fffff;  */
}

.correctAnswer {
	background-color: #CCCCCC;
}

.partiallyCorrectAnswer {
	background-color: #EEEEEE;
}

.control {
    border: 1px solid black;
    font-size: 28pt;
    border-radius: 3px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: white;
}

.titleicon {
    border: none;
    margin-left: 10px;
    margin-top: 7px;
    margin-bottom: 5px;
    font-size: 28pt;
}


.questiontext {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
}

#feedbackTip, #FeedbackMore {
	display:none;
}

#logOut {
	
}

.sortable {
/* 	margin-right: 30px; */
}

.currentSortedItem {
	border: 1px solid #ccc;
	background-color: white;
}

.placeholder {
	height: 1.5em; 
	line-height: 1.2em;
	color: #ccc;
	background: #ccc;
}