/*********************** General ***********************/
body {
	width: device-width;
	height: device-height;
	overflow: scroll;
	color: #666;
	font: 19px HelveticaNeue, Arial, sans-serif;
	margin: 0px;
	padding: 0px;
}

/* button { */
/* 	
 */
/* 	background-color: #666; */
/* 	color: white; */
/* 	padding: 5px 5px 5px 5px; */
/* 	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3); */
/* 	font-weight: none; */
/* 	text-align: center; */
/* 	font-size: 34pt; */
/* } */

.returnButton {
    /* 	float: right; */
	/* 	width: 46px; */
	/* 	height: 46px; */
	/* 	font-size: 14pt; */
	/* 	padding: 2px; */
	/* 	border: 1px solid white; */
	/* 	background-color: #999999; */
	/* 	color: white; */
	/* 	vertical-align: middle; */
	/* 	text-align: center; */
/* 	border-right: 1px solid white; */
	/* margin: 0px 4px 0px 0px; */
	height: 49px;
	line-height: 49px;
	border-right: 1px solid white;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	position: fixed;
	right: 0px;
	top: 0px;
	vertical-align: middle;
}

.generalButton {
    /* 	float: right; */
	width: 49px;
/* 	height: auto; */
	/* 	margin-bottom: 20px; */
	font-size: 40px;
	padding: 2px;
	background-color: #999999;
	color: white;
/* 	vertical-align: middle; */
	text-align: center;
/* 	margin-right:5px; */
}

.iconButton {
	border-left: 1px solid white;
	margin: 0px 0px 0px 0px;
	border-bottom: 1px solid white;
	border-right: 1px solid white;
/* 	height: auto; */
	position: fixed;
	right: 0px;
	top: 55px;
}

.verticalCentered {
	display: block;
	margin-top: auto;
	margin-bottom: auto;
}

#FeedbackDoneButon {
/* 	width:100%; */
/* 	height: 100%; */
/* 	border-right: 1px solid white; */
/* 	margin: 0px 3px 0px 0px; */
/* 	padding: 0px 0px 0px 0px; */
/* 	margin: 0px; */
/* 	margin-left:0px; */
/* 	margin-right: 1px; */
}

#FeedbackMore {
/* 	width: 100%; */
	height: 49px;
	line-height:49px;
	position: fixed;
	bottom: 1px;
	right: 1px;
	z-index: 1;
	border-top: 1px solid white;
/* 	margin: 0px 3px 0px 0px; */
	margin: 0px;
/* 	margin-left:0px; */
/* 	border-bottom: none; */
/* 	border-left: none; */
/* 	border-right: none; */
/* 	padding: 0px; */
}

.left {
	float: left;
	/* 	padding-right: 10px; */
	/* 	margin-right: 5px; */
	/* 	margin-left: 0px; */
}

.right {
	float: right;
	/* 	padding-left: 10px; */
	/* 	margin-left: 15px; */
	/* 	margin-right: 0px; */
}

.top {
	position: fixed;
	top: 0px;
	/* width: 100%; */
}

.bottom {
	position: fixed;
	bottom: 5px;
	/* width: 100%;*/
}

.static {
	position: static;
}

.title {
    /* 	display: table-cell; */
	height: 50px;
	font-size: 22px;
	font-weight: 900;
	padding: 0px 0px 0px 0px;
	color: #4169E1;
    line-height: 55px;
    /* 	vertical-align: bottom; */
	margin-right: 50px;
    margin-left: 12px;
	margin-top: auto;
    overflow: hidden;
}

.titleicon {
	height:50px;
	line-height: 55px;
	padding: 0px;
	vertical-align: middle;
	font-size: 30px;
	margin-left: 5px;
	margin-right: 5px;
/* 	border: 1px solid black; */
}

.container {
    /* padding-left: 10px;*/
	/*padding-right: 10px;*/
	height: 55px;
	width: 100%;
	margin: 0px;
	/* margin-top: auto;*/
	/* margin-bottom: auto;*/
}

.headerbg {
	box-shadow: 0px 3px 5px -1px #ccc;
	-webkit-box-shadow: 0px 3px 5px -1px #ccc;
	background-color: white;
}

.content {
    /*     margin-left: 5px; */
	/*     margin-right: 5px; */
    /* 	margin-bottom: 60px; */
	margin-top: 55px;
/* 	border-top:1px solid white; */
}

.cardBody {
	padding-left: 20px;
	padding-right: 20px;
	display: table-cell;
	vertical-align: middle;
}

ul {
    /* 	clear:both; */
	border-top: solid white 1px;
	border-left: solid white 1px;
	border-right: solid white 1px;
	border-bottom: solid white 1px;
	background-color: #ddd;
	color: #999;
	/* 	-moz-border-radius: 6px; */
	/* 	-webkit-border-radius: 6px; */
	/* 	border-radius: 6px; */
	/* 	-webkit-box-shadow: 0 1px 1px #ccc; */
	/* 	-moz-box-shadow: 0 1px 1px #ccc; */
	/* 	box-shadow: 0 1px 1px #ccc; */
	list-style-type: none;
	font-size: 14pt;
	font-style: normal;
	font-variant: normal;
	text-align: left;
	/* 	position: relative; */
}

li {
    /* 	-o-transition: all 0.1s ease-in-out; */
	/* 	-webkit-transition: all 0.1s ease-in-out; */
	/* 	-moz-transition: all 0.1s ease-in-out; */
	/* 	-ms-transition: all 0.1s ease-in-out; */
	/* 	transition: all 0.1s ease-in-out; */
	list-style-type: none;
	list-style-position: left;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	border-bottom: 1px solid white;
	text-align: left;
	/* 	border-radius: 0 0 0 0; */
	padding: 15px;
	margin-left: -40px;
	/* 	border-top: none; */
	/* 	border-right: none; */
	/* 	border-left: none; */
}

/*********************** Views ***********************/
#coursesListView {
	display: none;
}

#settingsView {
	display: none;
}

#logoutConfirmationView {
	display: none;
}

#cardQuestionView {
	display: none;
}

#cardAnswerView {
	display: none;
}

#cardFeedbackView {
	display: none;
}

#statisticsView {
	display: none;
}

#splashScreen {
/* 	display: none; */
}

.viewblock {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

/*********************** Splash Screen ***********************/
#mainTitle {
	font-size: 20pt;
	margin: 30px auto 10px 10px;
}

#cardsTitle {
	color: #4169E1;
	font-weight: bold;
}

#cards {
	color: white;
	position: absolute;
	top: 35px;
	right: 90px;
	font-size: 15px;
	font-weight: bold;
}

#card1 {
	position: absolute;
	left: 15px;
	top: 12px;
	z-index: -1;
	background-color: #4169E1;
	transform: rotate(15deg);
	-webkit-transform: rotate(15deg); /* Safari and Chrome */
	height: 40px;
	width: 60px;
	padding-left: 3px;
	padding-top: 3px;
}

#card2 {
	position: absolute;
	z-index: -2;
	background-color: #1E90FF;
	height: 50px;
	width: 60px;
	padding-left: 3px;
	padding-top: 3px;
}

#card3 {
	position: absolute;
	left: -15px;
	top: -10px;
	z-index: -3;
	background-color: #B0E0E6;
	transform: rotate(-15deg);
	-webkit-transform: rotate(-15deg); /* Safari and Chrome */
	height: 60px;
	width: 60px;
	padding-left: 5px;
	padding-top: 3px;
}

#cover {
	height: 100%;
	width: 100%;
	background-color: white;
}

#loading {
    /* 	font-family: Helvetica, sans-serif; */
	font-size: 100px;
	height: 200px;
	width: 200px;
	text-align: center;
	vertical-align: middle;
	margin-left: auto;
	margin-right: auto;
	/* 	margin: 100px; */
	-webkit-animation: spin 4s 2 linear;
	margin-left: auto;
	/* padding-top: 40px; */
	/* 	border: 1px solid black; */
}

.centered {
	display: inline-block;
	text-align: center;
	/* 	vertical-align: middle; */
	line-height: 200px;
	/* 	height: 100%; */
	/* 	width: 100%; */
}

#rotation {
	
}

@-webkit-keyframes spin { 
	0% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform:rotate(360deg);}
}

@-webkit-keyframes spinoff { 
	0% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform:rotate(-360deg);}
}

#logos {
	vertical-align: bottom;
	margin-top: 10px;
	clear: both;
	width:100%;
	height:15%;
	content: url(../resources/logos_small.png);
}

/*********************** Login ***********************/
#loginForm {
	display: none;
	width: 100%;
}

.inputBorder {
	padding: 10px;
	border: 1px solid white;
	background-color: #ddd;
	height: 30px;
	margin-right: 50px;
}

.loginInput {
	box-shadow: none;
	outline: none;
	border: none;
	border-width: 0px;
	-webkit-appearance: none;
	font-size: 12pt;
	margin: 0px;
	padding: 5px;
    border-radius: 0;
	border-left: 3px solid white;
	color: #666;
	background-color: #ddd;
	/* 	width:89%; */
}

*[placeholder] {
	color: #666;
}

.loginInput:focus {
	outline: none;
	border: none;
	border-width: 0px;
	-webkit-appearance: none;
    border-radius: 0;
	border-left: 3px solid white;

}

#loginButton {
	float: right;
	height: 104px;
	width: 49px;
	font-size: 43px;
}



#errormessage {
	display: none;
	border: 1px solid white;
	background-color:#a52a2a;
	color:white;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	margin-top: 20px;	
}



#warningmessage {
	display: none;
	border: 1px solid white;
	background-color: #4169E1;
	color:white;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	margin-top: 20px;

}



.listicon {
	width: 20px;
	display: block;
	height: 20px;
	padding-left: 0px;
	margin-left: 0px;
	/*    border: 1px solid #fffff;  */
}

.correctAnswer {
	background-color: #33CC33;
	border: 1px solid white;
	color: white;
	height: 100%;
}

.partiallyCorrectAnswer {
	background-color: #EEEEEE;
}

.ticked {
    /*padding:0px;
	margin:0px;*/
	background-color: #88AAFF;
	color: white;
}

.control {
    /* 	border: 1px solid black; */
	font-size: 28pt;
	border-radius: 3px;
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 10px;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	/* 	background-color: white; */
}

/* .titleicon { */
/* 	border: none; */
/* 	margin-left: 10px; */
/* 	margin-top: 7px; */
/* 	margin-bottom: 5px; */
/* 	font-size: 28pt; */
/* } */

.questiontext {
    /* 	display: table-cell; */
	/* 	width: 100%; */
	/* 	vertical-align: middle;*/
	
}

#feedbackTip,#FeedbackMore {
	display: none;
}

#logOut {
	
}

.sortable {
	
}

.currentSortedItem {
	border: 1px solid white;
	background-color: #ddd;
}

.placeholder {
	height: 1.5em;
	line-height: 1.2em;
	color: #ccc;
	background: #ccc;
}

/*********************** Answer View ***********************/
#answerContainer {
    /* 	margin: 0px; */
	/* 	padding: 0px; */
	
}

.marginForButtons {
	margin-right: 54px;
}

.answerLi {
	padding: 0px;
}

.text {
    /* 	margin: 15px; */
	padding: 15px;
}

#numberInputContainer, #numberInput, 
#typedAnswer, #numericFeedback, 
#correctNumericFeedback {
	width: 100%;
}
#dataErrorMessage {
	display: none;
}


/*********************** Statistics View ***********************/


#statisticsBody {
	
	/*padding:0px;
	margin-top:60px;
	width:100%;*/
	font-size:0px; /*set the font size to 0, in order the children elements that are displayed as inline blocks, not to have any space between them. The space is applied by default when you use inline block*/
	
}



.statitem1{
	display:inline-block;
	background-color: #4169E1;
	color:white;
	border-right: 1px solid white;
	border-left: 1px solid white;
	border-bottom: 1px solid white; 
	margin-left:-2px;
	margin-right:0px;
	/*padding:10px;
	margin-left:-1px;
	/*float:left;*/
	font-weight:bold;
	width:49.5%;
	height:100px;
	
}



.statitem2{
	display:inline-block;
	border-right: 1px solid white; 
	border-left: 1px solid white;
	border-bottom: 1px solid white; 
	background-color: #ddd;
	color:white;
	margin-left:-2px;
	margin-right:0px;
	/*padding:10px;
	margin-left:-1px;
	/*float:left;*/
	font-weight:bold;
	width:49.5%;
	height:auto;
	
}

.stattitle1{
	/*float:left;*/
	font-size: 18px;
	color:white;
	/*font-weight:bold;*/
	padding-top:10px;
	padding-left:15px;
	padding-bottom:5px;
}
.stattitle2{
	/*float:left;*/
	font-size: 18px;
	color:#4169E1;
	/*font-weight:bold;*/
	padding-top:10px;
	padding-left:15px;
	padding-bottom:5px;
	
}

.statvalue1{
	float:left;
	font-size: 28px;
	font-weight:bold;
	padding-left:15px;
	
	
	/*margin-right:15px;*/
}


.statvalue2{
	float:left;
	font-size: 28px;
	font-weight:bold;
	padding-left:15px;
	/*margin-right:15px;*/
}
.statsiconchange{
	/*float:right;*/
	font-size: 28px;
	padding-top:-13px;
	margin-left:-50px;
	padding-bottom:5px;
	

}

.statsinfo{
	clear:both;
	font-size: 16px;
	padding-left:15px;
	padding-bottom:5px;
	
}

.red{
	
color:red;
}

.green{
	
color:green;
}
/*********************** Achievements View ***********************/

#achievementsView {
	display: none;
}

.achievementContainer{
	
	border-bottom: 1px solid white; 
}

#stackHandlerTitle{
	font-size:25px;
	font-weight:bold;
	padding-left:5px;
	
}

#stackHandlerIcon {
	font-size:70px;
	margin-left:25px;
	padding-top:15px;
	padding-right:10px;
	float:left;
	
}

.achievementResults{
	padding-top:15px;
	width:auto;
	height:auto;
	background-color:#ddd;
	
}


#cardBurnerTitle{
	font-size:25px;
	font-weight:bold;
	padding-left:5px;
	
}

#cardBurnerIcon{
	font-size:70px;
	margin-left:25px;
	padding-top:15px;
	padding-right:10px;
	float:left;
	
}




