/*********************** General ***********************/
body {
	width: device-width;
	height: device-height;
	overflow: scroll;
	color: #666;
	font: 19px HelveticaNeue, Arial, sans-serif;
	margin: 0px;
	padding: 0px;
}

.returnButton {
	height: 49px;
	line-height: 49px;
	border-right: 1px solid white;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	position: fixed;
	right: 0px;
	top: 0px;
}

.generalButton {
	width: 49px;
	font-size: 40px;
	padding: 2px;
	background-color: #999999;
	color: white;
	text-align: center;
}

.iconButton {
	border-left: 1px solid white;
	margin: 0px 0px 0px 0px;
	border-bottom: 1px solid white;
	border-right: 1px solid white;
	position: fixed;
	right: 0px;
	top: 55px;
}

.verticalCentered {
	display: block;
	margin-top: auto;
	margin-bottom: auto;
}

#FeedbackMore {
	height: 49px;
	line-height:49px;
	position: fixed;
	bottom: 1px;
	right: 1px;
	z-index: 1;
	border-top: 1px solid white;
 	margin: 0px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.top {
	position: fixed;
	top: 0px;
}

.bottom {
	position: fixed;
	bottom: 5px;
}

.static {
	position: static;
}

.title {
    height: 50px;
	font-size: 22px;
	font-weight: 900;
	padding: 0px 0px 0px 0px;
	color: #008CC7;
    line-height: 55px;
	margin-right: 50px;
    margin-left: 12px;
	margin-top: auto;
    overflow: hidden;
}

.titleicon {
	height:50px;
	line-height: 55px;
	padding: 0px;
	vertical-align: middle;
	font-size: 30px;
	margin-left: 5px;
	margin-right: 5px;
}

.container {
	height: 55px;
	width: 100%;
	margin: 0px;
}

.headerbg {
	box-shadow: 0px 3px 5px -1px #ccc;
	-webkit-box-shadow: 0px 3px 5px -1px #ccc;
	background-color: white;
}

.content {
	margin-top: 55px;
}

.cardBody {
	padding-left: 20px;
	padding-right: 20px;
	display: table-cell;
	vertical-align: middle;
}

ul {
	border-top: solid white 1px;
	border-left: solid white 1px;
	border-right: solid white 1px;
	border-bottom: solid white 1px;
	background-color: #ddd;
	color:#696969;;
	list-style-type: none;
	font-size: 14pt;
	font-style: normal;
	font-variant: normal;
	text-align: left;
	padding: 0px;
	margin:0px;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
}

li {
	list-style-type: none;
	list-style-position: inside;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	border-bottom: 1px solid white;
	text-align: left;
	padding: 0px;
	margin:0px;
}

/*********************** Views ***********************/
#coursesListView {
	display: none;
}

#settingsView {
	display: none;
}

#logoutConfirmationView {
	display: none;
}

#cardQuestionView {
	display: none;
}

#cardAnswerView {
	display: none;
}

#cardFeedbackView {
	display: none;
}

#statisticsView {
	display: none;
}

#splashScreen {
/* 	display: none; */
}

.viewblock {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

/*********************** Splash Screen ***********************/
#mainTitle {
	font-size: 20pt;
	margin: 30px auto 10px 10px;
}

#cardsTitle {
	color: #008CC7;
	font-weight: bold;
}

#cards {
	color: white;
	position: absolute;
	top: 35px;
	right: 90px;
	font-size: 15px;
	font-weight: bold;
}

#card1 {
	position: absolute;
	left: 15px;
	top: 12px;
	z-index: -1;
	background-color: #008CC7;
	transform: rotate(15deg);
	-webkit-transform: rotate(15deg); /* Safari and Chrome */
	height: 40px;
	width: 60px;
	padding-left: 3px;
	padding-top: 3px;
}

#card2 {
	position: absolute;
	z-index: -2;
	background-color: #29ABE2;
	height: 50px;
	width: 60px;
	padding-left: 3px;
	padding-top: 3px;
}

#card3 {
	position: absolute;
	left: -15px;
	top: -10px;
	z-index: -3;
	background-color: #7FCBDD;
	transform: rotate(-15deg);
	-webkit-transform: rotate(-15deg); /* Safari and Chrome */
	height: 60px;
	width: 60px;
	padding-left: 5px;
	padding-top: 3px;
}

#cover {
	height: 100%;
	width: 100%;
	background-color: white;
}

#loading {
	font-size: 100px;
	height: 200px;
	width: 200px;
	text-align: center;
	vertical-align: middle;
	margin-left: auto;
	margin-right: auto;
	-webkit-animation: spin 4s infinite linear;
	margin-left: auto;
}

.centered {
	display: inline-block;
	text-align: center;
	line-height: 200px;
}

@-webkit-keyframes spin { 
	0% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform:rotate(360deg);}
}

@-webkit-keyframes spinoff { 
	0% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform:rotate(-360deg);}
}

/*********************** Login ***********************/
#loginForm {
	display: none;
	width: 100%;
}

.inputBorder {
	padding: 10px;
	border: 1px solid white;
	background-color: #ddd;
	height: 30px;
	margin-right: 50px;
}

.loginInput {
	box-shadow: none;
	outline: none;
	border: none;
	border-width: 0px;
	-webkit-appearance: none;
	font-size: 12pt;
	margin: 0px;
	padding: 5px;
    border-radius: 0;
	border-left: 3px solid white;
	color:#696969;
	background-color: #ddd;
}

*[placeholder] {
	color: #666;
}

.loginInput:focus {
	outline: none;
	border: none;
	border-width: 0px;
	-webkit-appearance: none;
    border-radius: 0;
	border-left: 3px solid white;

}

#loginButton {
	float: right;
	height: 98px;
	line-height: 98px;
	width: 45px;
	font-size: 39px;
	padding-right:4px;
	text-align:center;
	border: 1px solid white;
}



#errormessage {
	display: none;
	border: 1px solid white;
	background-color:#a52a2a;
	color:white;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	margin-top: 20px;	
}



#warningmessage {
	display: none;
	border: 1px solid white;
	background-color: #008CC7;
	color:white;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	margin-top: 20px;

}



.listicon {
	width: 20px;
	display: block;
	height: 20px;
	padding-left: 0px;
	margin-left: 0px;
}

.correctAnswer {
	background-color: #33CC33;
	border-left: 1px solid white;
	color: white;
	width: 30px;
	text-align: center;
	margin:0px;
}

.partiallyCorrectAnswer {
	background-color: #EEEEEE;
}

.ticked {
    padding:0px;
	margin:0px;
	background-color: #29ABE2;
	color: white;
}

.control {
    font-size: 28pt;
	border-radius: 3px;
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 10px;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}


#feedbackTip,#FeedbackMore {
	display: none;
}

#logos {
	vertical-align: bottom;
	margin-top: 10px;
	clear: both;
	width: 100%;
	height:53px;
	/*content: url(../resources/logos_small.png);*/
}

#ISNlogo {
	float: left;
	content: url(../resources/isn_css.png);
	width: 142px;
	height: 53px;
}

#ETHZlogo {
	float: right;
	content: url(../resources/ethz.png);
	width: 142px;
	height: 53px;
}


.currentSortedItem {
	border: 1px solid white;
	background-color: #ddd;
}

.placeholder {
	height: 1.5em;
	line-height: 1.2em;
	color: #ccc;
	background: #ccc;
}

/*********************** Question View ***********************/
#cardQuestionBody {
    font-size: 24px;
    fontweight: bold;
}

/*********************** Answer View ***********************/
.marginForButtons {
	margin-right: 54px;
}

.answerLi {
	padding: 0px;
}

.text {
    margin-right: 35px;
	padding: 15px;
	padding-left: 7px;
	padding-right:0px;
}

#numberInputContainer, #numberInput, 
#typedAnswer, #numericFeedback, 
#correctNumericFeedback {
	width: 100%;
}

#typedAnswer, #correctNumericFeedback {
	text-align: left;
}

#dataErrorMessage {
	display: none;
}

/*********************** Statistics View ***********************/
#statisticsBody {
	font-size:0px; /*set the font size to 0, in order the children elements that are displayed as inline blocks, not to have any space between them. The space is applied by default when you use inline block*/
	
}

.statrow {
    display:table;
    width: 100%;
}

.statitem1{
	display: table-cell;
	background-color: #008CC7;
	color:white;
	border-right: 1px solid white;
	border-left: 1px solid white;
	border-bottom: 1px solid white; 
	margin-right:0px;
    font-weight:bold;
	width:50%;
	height:100px;
}


.statitem2{
	display: table-cell;
	border-right: 1px solid white; 
	border-left: 1px solid white;
	border-bottom: 1px solid white; 
	background-color: #ddd;
	color: #696969;
	margin-right:0px;
    font-weight:bold;
	width:50%;
}

.stattitle{
	font-size: 18px;
	
	padding-top:10px;
	padding-left:15px;
	padding-bottom:5px;
	
}

.statvalue{
	float:left;
	font-size: 28px;
	font-weight:bold;
	padding-left:15px;
	/*margin-right:15px;*/
}

.statsiconchange{
	font-size: 28px;
	padding-top:-13px;
	margin-left:-50px;
	padding-bottom:5px;
}

.statsinfo{
	clear:both;
	font-size: 16px;
	padding-left:15px;
	padding-bottom:5px;
}

.red{	
	color:red;
}

.green{
	color:green;
}

/*********************** Achievements View ***********************/

#achievementsView {
	display: none;
}

.achievementContainer{
	clear:both;
	border-bottom: 1px solid white; 
	background-color:#ddd;
	width: 100%;
	
}
.achievementResults{
	display: table-cell;
	vertical-align: middle;
	padding-top:10px;
	padding-bottom:5px;
	width: 220px;

}

.achievementsResutlsTitle{
	font-size:25px;
	font-weight:bold;
}


.achievementResutlsIcon {
	display: table-cell;
	vertical-align: middle;
	font-size:65px;
	padding-left:10px;
	padding-right:10px;	
}

.blue{	
	color:#008CC7;
}

/****************** Course List View ************************/
.courseListIcon {
	border-left: 1px solid white;
	width: 53px;
	font-size: 40px;
	text-align: center;
	vertical-align: middle;
}

.marginForCourseList {
	margin-right: 56px;
}

.loadingRotation {
	-webkit-animation: spin 3s infinite linear;
	font-size: 25px;
}

/*********************** Settings View ***********************/
.settingsLi {
	padding-bottom: 5px;
	padding-left:7px;
}

.settingsLabel {
	font-size: 14px;
	color: #999;
	display: inline-block;
	width: 100%;
	margin-bottom: 3px;
}
